doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title search Engine

	body
		block content

		block scripts
		script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js")
		script(type='text/x-handlebars-template', id='salesTax-template')
		script(src="/scripts/main.js")


		